.husky/**
.vscode/**
.vscode-test/**
node_modules
src/**

.env.local
.gitignore
.vscode-test.mjs
jest.config.js
prettier.config.js
release-vsx-helper.js
release-vsx.sh

**/tsconfig.json
**/webpack.config.js
**/*.map
**/*.ts
**/*.test.js
out/test/**